<div>
    <form action = "../controller/Controller.php" method = "post">
        <fieldset>
            <legend>Connection</legend>
            <div>
                <label>Nickname</label>
            </div>
            <div>
                <input type = "text" name = "pseudo" placeholder = "Pseudo"/>
            </div>
            <div>
                <label>Password</label>
            </div>
            <div>
                <input type = "password" name = "password" placeholder = "Password"/>
            </div>
            <div>
                <label>Confirm Your Password</label>
            </div>
            <div>
                <input type = "password" name = "confirmedPassword" placeholder = "Confirm Your Password"/>
            </div>
            <div>
                <label>Email</label>
            </div>
            <div>
                <input type = "email" name = "email" placeholder = "Email"/>
            </div>
            <input type = "hidden" name = "inscription" value = "1"/>
            <div>
                <input type = "submit" value = "Inscription" />
            </div>
        </fieldset>
    </form>
</div>